.popup-optional {
}

.chat {
  width: 100%;
  height: 100vh;

  &-header {
    width: auto;
    height: 10vh;
    display: flex;
    flex-direction: row;

    &-info {
      height: 100%;
      width: 60%;
      display: flex;
      flex-direction: row;

      &-img {
        width: 10vh;
        height: 100%;

        img {
          height: 8vh;
          width: 8vh;
          margin-top: 5%;
          border-radius: 50%;
        }
      }

      &-name {
        width: auto;
        height: 100%;

        p {
          margin-top: 1em;
          text-align: left;
          font-size: 1.5em;
          font-family: "Courier New", Courier, monospace;
          font-weight: 600;
        }
      }
    }

    &-toolbar {
      height: 100%;
      width: 40%;
      display: flex;
      justify-content: flex-end;
      margin: 0 10px;

      &-icon {
        padding: 0.5em;
        font-size: 1.5em;
        margin: 0.5em;
        border-radius: 10px;
        border: 1px dashed #ffffff;
      }

      &-icon:hover {
        border: 1px dashed #1fb1b1;
      }
    }
  }

  &-center {
    width: auto;
    height: 76vh;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;

    &-message {
      width: 100%;
      height: 100%;
      padding: 15px;
      overflow-y: auto;
      overflow-x: hidden;
      display: flex;
      flex-direction: column-reverse;
      // background-color: #ad1111;
    }
  }

  &-footer {
    width: auto;
    height: 13vh;
    display: flex;
    flex-direction: column;

    // &-toolbar {
    //   width: 100%;
    //   // height: 30%;
    //   background-color: white;
    //   border-bottom: 0.1px solid #d2d2d2;
    //   display: flex;
    //   flex-direction: row;
    //   &-icon {
    //     .toolbar-icon {
    //       padding: 10px;
    //       margin: 0 10px;
    //       border-radius: 5px;
    //       font-size: 1.5em;
    //       color: #858585;
    //     }
    //     .toolbar-icon:hover {
    //       background-color: $color-primary-hover-2;
    //       border-radius: 5px;
    //     }
    //   }
    // }
    &-input {
      width: 100%;
      // height: 70%;
      background-color: white;
      display: flex;
      flex-direction: row;

      .react-input-emoji--input {
        max-height: 60px;
      }

      &-file {
        // .custom-file-input::-webkit-file-upload-button {
        //   visibility: hidden;
        // }
        max-height: 13vh;
        margin-bottom: 0;
        overflow: auto;

        .toolbar-icon {
          padding: 10px;
          margin: 3px 10px;
          border-radius: 5px;
          font-size: 1.6em;
          color: #858585;
        }

        .toolbar-icon:hover {
          //   background-color: $color-primary-hover-2;
          //   border-radius: 5px;
        }

        .upload-list-inline .ant-upload-list-item {
          float: left;
          width: 200px;
          margin-right: 8px;
        }

        .upload-list-inline [class*="-upload-list-rtl"] .ant-upload-list-item {
          float: right;
        }
      }

      &-form {
        height: 100%;
        width: 80%;
        padding: 0 5px;

        .text-area {
          width: 100%;
          height: 100%;
          resize: none;
          border: none;
        }

        .text-area:focus {
          border: none !important;
        }
      }

      &-action {
        height: 100%;
        width: 7%;
        font-size: 1em;
        display: flex;
        flex-direction: row;
        justify-content: right;

        // background-color: rgb(166, 39, 39);
        // margin: 0 10px;
        .action-icon {
          // width: 5em;
          height: 100%;
          font-size: 2em;
          margin-right: 2%;
          background-color: white;
          border: none !important;
        }

        .action-icon:hover {
          background-color: white;
          box-shadow: none;
        }
      }
    }
  }
}

.right-tab {
  height: 100vh;
  overflow-y: auto;
  border-left: 0.1px solid #d2d2d2;

  .ant-list-item:hover {
    background-color: var(--light-background-1);
  }

  .ant-collapse-content > .ant-collapse-content-box {
    padding: 0px;
  }

  &-ant-list-item {
    padding-right: 16px;
    padding-left: 16px;
  }

  &-header {
    width: auto;
    height: 10vh;
    display: flex;
    align-items: center;
    border-bottom: 0.1px solid #d2d2d2;

    p {
      width: 100%;
      font-size: 1.2em;
      font-family: "Courier New", Courier, monospace;
      font-weight: 600;
      margin: 0;
    }
  }

  &-infor-img {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;

    img {
      width: 10vh;
      height: 10vh;
      border-radius: 50%;
      border: 3px solid white;
    }
  }

  &-user-name {
    padding-top: 12px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 30px;
    font-family: "Courier New", Courier, monospace;
  }

  &-line-divide {
    margin-top: 15px;
    width: "100%";
    height: 7px;
    background-color: var(--light-background-1);
  }

  &-action {
    &-icon {
      margin-right: 10px;
    }
  }

  &-filter {
    &-img-video {
      width: 100px;
      margin: 5px;
      margin-left: 6px;
      cursor: pointer;
    }
  }
  .setting-action {
    padding: 0 5px;
    text-align: left;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    &-icon {
      font-weight: 500;
      color: #828282;
    }
    &-name {
      margin-left: 10px;
      margin-bottom: 0;
      font-weight: 500;
      color: #828282;
    }
  }
  .setting-action:hover {
    background-color: rgb(238, 238, 238);
  }
}
