.container {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: rgb(54, 54, 54);
  .video-container {
    height: 100%;
    width: 100%;
    .video {
      width: 100%;
      height: 100%;
      .play-receiver-video {
        height: 98%;
        width: 100%;
      }
    }
    .my-video {
      width: 24%;
      padding: 0 2%;
      position: absolute;
      // background-color: aqua;
      z-index: 1000;
      top: 2%;
      right: 5%;
      .play-my-video {
        width: 100%;
      }
    }
  }
  .tool-bar {
    position: absolute;
    z-index: 200;
    bottom: 0;
    width: 100vw;
    height: 5vh;
    min-height: 70px;
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .icon {
      width: 40px;
      height: 40px;
      background-color: beige;
      margin: 5px 10px;
      border-radius: 50%;
      font-size: 1.5em;
      line-height: 2;
    }
    .icon-phone {
      color: white;
      background-color: red;
    }
    .icon-phone-active {
      color: white;
      background-color: rgb(85, 202, 88);
    }
  }
  .tool-bar:hover {
    opacity: 1;
  }
}
